
/* Filosofy */

.filosofy {
  width: 90vw;
  margin-top: 5vh;
  font-weight: 600;
  text-align: center;
}

/* Cards */

.cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  margin-top: 5vh;
  margin-bottom: 7vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  min-width: 20vw;
  height: 60vh;
  font-size: 3rem;
  font-weight: 700;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.card1 {
  background-image: url(../../../resources/landing/reduce.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card2 {
  background-image: url(../../../resources/landing/reuse.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card3 {
  background-image: url(../../../resources/landing/recycle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card4 {

  background-image: url(../../../resources/landing/recover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1024px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    max-width: 25vw;
    height: 40vh;
    font-size: 2rem;
    font-weight: 700;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
}

@media screen and (max-width: 768px) {

  .card {
    max-width: 20vw;
    height: 35vh;
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 590px) {

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 5vh;
    gap: 7vh;
  }

  .card {
    font-size: 3.5rem;
    min-width: 80vw;
    height: 80vh;
  }
}