
.profileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 10vh;

  & i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
  }

  & .profilePictureContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35vmin;
    width: 35vmin;
    border: 5px solid #3C6E71;
    border-radius: 100%;
    background-color: #D1D3C4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
  }

  & .fa-user {
    color: white;
  }
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2vh;
  margin-bottom: 3vh;
  margin-top: 3vh;
  min-height: 0vh;
  font-size: 1.2rem;
  font-weight: 300;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, max-height 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  max-height: 50vh;
}

.nickname {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 200;
}

.emailProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 300;
}

.id {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 300;
}

.points {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  gap: 3vmin;

  & input {
    max-width: 9vmin;
    width: 15vmin;
    height: 7vmin;
    border-radius: 5px;
    border: 1px solid #3C6E71;
    text-transform: capitalize;
    text-align: center;
    &:focus {
      outline: none;
    }
  }

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 5vmin;
    width: fit-content;
    padding: 4vmin;
    border: none;
    border-radius: 5px;
    background-color: #3C6E71;
    color:white;
    transition: all ease-in-out 0.1s;
    font-size: 0.9rem;
    font-weight: 400;
  
    &:hover{
      transform: scale(1.05);
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 620px) {
.profileCard {
  & i {
    font-size: 20vmin;
  }
  & .canjearPuntos {
    height: 5vh;
    width: 35vw;
  }
}
.popupContent button {
  position: absolute;
  top: -40px;
  right: -50px;
  min-width: fit-content;
  min-height: fit-content;
}

}