/* NAVBAR */

nav {
  height: 10vh;
  background-color: #3C6E71;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 100vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0 7vmin;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5vmin;
  height: 100%;
  width: fit-content;
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 9vh;
}

/* USER ICON */

.fa-user {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  z-index: 1;
  top: 9vh;
  transform: translateX(-110%);
  transition: all ease-in-out 0.3s;
  display: none;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 35vmin;
  height: 100vh;
  background-color: #3C6E71;
  padding-top: 20vmin;
  gap: 3vmin;
  padding-left: 5vmin;
}

.fa-solid {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.fa-bars{
  display: none;
  font-size: 1.3rem;
}

.sidebarElement {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 10vh;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  list-style: none;
  font-size: 1.3rem;
  font-weight: 300;
  color: white;

  &:hover {
    transform:translateY(5px);
  }
}

.navElement {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 10vh;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  list-style: none;
  font-size: 1.3rem;
  font-weight: 300;
  color: white;

  &:hover {
    transform:translateY(5px);
  }
}

/* PROFILE OPTIONS */

.logBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3C6E71;
  position: fixed;
  width: fit-content;
  height: fit-content;
  gap: 2vh;
  top: 13vh;
  right: 1vw;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2vh 2vw;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  z-index: 1;
  transform: translateX(110%);

  & .viewProfile {
    text-decoration: none;
  }
}

.logElement {
  list-style: none;
  height: 5vh;
  font-size: 1.3rem;
  font-weight: 300;
  color: white;
  transition: all ease-in-out 0.2s;
  &:hover {
    transform: translateX(5%);
  }
}

.show {
  transform: translateX(0%);
}

@media screen and (max-width: 1024px) {

  .logo {
    max-height: 7vh;
  }

  .sidebarElement {
      transition: all ease-in-out 0.2s;
    
      &:hover {
        transform:translateX(15px);
      }
    }

  ul {
    max-width: 50vmin;
    padding-top: 15vmin;
  }

  .logBar {
    padding-right: 5vmin;
    padding-left: 5vmin;
  }

  .fa-bars{
    display: flex;
  }

  .sidebar {
    display: flex;
  }

  .navElement:not(.profile) {
    display: none;
  }

  .profile li {
    display: none;
  }

  }

  @media screen and (max-width: 650px) {
    ul {
      width: 50vmin;
      padding-top: 20vmin;
    }
  }